<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQLMultiTabGyak.Properties.Settings.BookwormDBConnectionString"
            connectionString="Data Source=VLZ_ASUS;Initial Catalog=BookwormDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>